body {
  background: url('./sss.jpg');
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}



.counterWrapper {
  width: 400px;
  position: relative;
  margin-top: 300px;
  background-color: rgba(222, 222, 222, .6);
  border-radius: 1rem;
}

.counterWrapperStop {
  border: 2px solid rgba(206, 25, 25, 0.6);
}

.display {
}

.display h1 {
  margin: 1rem 1rem 0;
}

.btnBlock {
  width: 50%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 1rem 0;
}

.stop {
  color: red;
}

.counterWrapper button {
  margin-bottom: 10px;
}

.settingsIcon {

  color: rgb(53, 53, 53);
  cursor: pointer; 
  margin: 1.5rem 0;
  font-size: 2rem; 
}

.settingsIcon:hover {
  color: black;
  transition: .3s;
  transform: rotate(90deg);
}